body {
  --Fusion-Red: rgb(252, 92, 101);
  --Orange-Hibiscus: rgb(253, 150, 68);
  --Flirtatious: rgb(254, 211, 48);
  --Reptile-Green: rgb(38, 222, 129);
  --Maximum-Blue-Green: rgb(43, 203, 186);
  --Desire: rgb(235, 59, 90);
  --Beniukon-Bronze: rgb(250, 130, 49);
  --NYC-Taxi: rgb(247, 183, 49);
  --Algal-Fuel: rgb(32, 191, 107);
  --Turquoise-Topaz: rgb(15, 185, 177);
  --High-Blue: rgb(69, 170, 242);
  --C64-NTSC: rgb(75, 123, 236);
  --Lighter-Purple: rgb(165, 94, 234);
  --Twinkle-Blue: rgb(209, 216, 224);
  --Blue-Grey: rgb(119, 140, 163);
  --Boyzone: rgb(45, 152, 218);
  --Royal-Blue: rgb(56, 103, 214);
  --Gloomy-Purple: rgb(136, 84, 208);
  --Innuendo: rgb(165, 177, 194);
  --Blue-Horizon: rgb(75, 101, 132);
}
